<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User-Page</title>
    <style>
        table, td, th {
            border: 1px solid red;
            text-align: center;
            padding: 8px;
        }
    </style>
</head>
<body>
<p id="m" class="fa fa-user-circle-o" th:text=" ${currentUser.name}"></p>
<p id="current_user_surname" class="fa fa-user-circle-o" th:text=" ${currentUser.surname}"></p>
<img th:src="@{${'/user/image/' + currentUser.image}}" width="200" , height="300">
<form th:action="@{/logout}" method="post">
    <button>Logout</button>
</form>


<div class="add-article"></div>
<p>Add article:</p>
<form th:action="@{/article}" th:object="${article}" method="post">
    <select th:field="*{interest}">
        <option th:each="inter : ${interests}" th:value="${inter.id}" th:text="${inter.name}">
        </option>
    </select>
    <input placeholder="Title" type="text" th:field="*{title}">
    <textarea placeholder="Context" type="text" th:field="*{content}"/>
    <button>Add article</button>
</form>

<div th:if="${myArticles.size()!=0}">
    <p>My articles:</p>
    <table>
        <thead>
        <th>Title</th>
        <th>Content</th>
        </thead>
        <tr th:each="article: ${myArticles}">
            <!--        <td style="visibility: hidden" th:text="${article.id}" />-->
            <td th:text="${article.title}"/>
            <td th:text="${article.content}"/>
            <td>
                <form th:object="${comment}" method="post" th:action="@{/comment}">
                    <textarea placeholder="Content" th:field="*{content}"/>
                    <input type="hidden" th:name="articleId" th:value="${article.id}">
                    <button>Add comment</button>

                </form>
            </td>
        </tr>
    </table>
</div>
<div>
    <form th:action="@{/chat}"  method="get">
    <button class="btn btn-primary btn-lg">CHAT WITH ME</button>
    </form>

</div>
</body>
</html>