<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>verifyError</title>
    <link href="css/plugins/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="icon" type="image/jpg" href="images/logo-light.jpg">

</head>
<body style="background-color: #8CD2E5">

<div>
    <a href="/login" class="nav-link" >Main Page</a>
</div>
<h3 style="color: #0d397c; text-align: center"><b> Կներեք, բայց Ձեր էլ - հասցեն ակտիվածված չէ։</b></h3>
<h3 style="color: #0d397c; text-align: center"><b> Խնդրում ենք  էլ - հասեից ակտիվացնել Ձեր Էջը։</b></h3>
</body>
</html>